<div class="center hero-unit">
<h1>About</h1>
<p>Somos la compania lider en la gestion de opticas. Nuestra plataforma permite administrar sus procesos operativos y administrativos de una manera muy 
sencilla permitiendo que sus ingresos se multipliquen y las relaciones con sus clientes se fortalezcan. Estamos presentes en Latinoamerica, servimos a mas de 100 usuarios en 5 paises.
</p>
</div>