<div class="center hero-unit">
<h1>Bienvenido a Yoptic</h1>
<p>Yoptic es la plataforma online que permite gestionar las opticas y llevarlas al exito. Maximice sus ingresos, fortalezca las relaciones con sus clientes y controle el 
  desempeno de su optica por medio de Yoptic.
</p>
<%= link_to "Nuevo usuario", "#",class: "btn btn-large btn-primary" %>
</div>